<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Your Home</h1>
    <p>Home Happens Here</p>
      <p class="lead">
    <a class="btn btn-primary btn-lg" href="\" target="_blank" role="button">Learn more</a>
  </p>
  </div>
</div>
  
 
 
 
  
  

<section>
 
    <div class="row">
      <%= render "properties/latest_listings" %>
    
  </div>
</section>